@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #fff5f2;
	--color-primary-100: #fff1ee;
	--color-primary-200: #ffe4de;
	--color-primary-300: #ffd5cc;
	--color-primary-400: #ffbcad;
	--color-primary-500: #fe795d;
	--color-primary-600: #ef562f;
	--color-primary-700: #eb4f27;
	--color-primary-800: #cc4522;
	--color-primary-900: #a5371b;

	/* Happy Hues Color Palette */
	--color-happy-background: #eff0f3;
	--color-happy-headline: #0d0d0d;
	--color-happy-paragraph: #2a2a2a;
	--color-happy-button: #ff8e3c;
	--color-happy-buttonText: #0d0d0d;
	--color-happy-stroke: #0d0d0d;
	--color-happy-main: #eff0f3;
	--color-happy-highlight: #ff8e3c;
	--color-happy-secondary: #ffffff;
	--color-happy-tertiary: #d9376e;
}

@source "../node_modules/flowbite-svelte/dist";
